
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.landing-page-2-xrA {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-zntv-yFU {
    box-sizing: border-box;
    padding: 2.7rem 6.6rem 12rem 9.6rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .header-Cvr {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 5.9rem;
      width: 100%;
      height: 17.4rem;

      .preview-2-uqG {
        margin-right: 67.1rem;
        width: 27.1rem;
        height: 17.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .upper-button-RYi {
        margin: 5.6rem 0rem 7.1rem 0rem;
        height: calc(100% - 12.7rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .item-link-Lva {
          line-height: 1.3333333333;
          display: flex;
          height: 4.3rem;
          font-weight: 500;
          letter-spacing: 0.02rem;
          justify-content: center;
          border: solid 0.1rem #dfe0d5;
          width: 16.5rem;
          white-space: nowrap;
          box-sizing: border-box;
          flex-shrink: 0;
          margin-right: 3.1rem;
          font-size: 1.5rem;
          color: #5e6d55;
          font-family: DM Sans, 'Source Sans Pro';
          align-items: center;
          cursor: pointer;
        }
        .button-sJE {
          align-items: center;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 0.2rem;
          display: flex;
          justify-content: center;
          line-height: 1;
          letter-spacing: 0.02rem;
          font-size: 1.5rem;
          color: #fefefe;
          flex-shrink: 0;
          width: 14rem;
          height: 100%;
          cursor: pointer;
          background-color: #f7c019;
        }
      }
    }
    .hero-KAE {
      height: 50rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 9.6rem 0rem 6.9rem;
      width: calc(100% - 16.5rem);

      .text-block-hero-title-body-actionrow-2-line-title-1ok {
        margin: 1.9rem 3.5rem 3.3rem 0rem;
        height: calc(100% - 5.2rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .title-iiA {
          margin-bottom: 4rem;
          max-width: 61rem;
          font-size: 5rem;
          font-weight: 700;
          color: #000000;
          line-height: 1.32;
          letter-spacing: 0.1rem;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .body-2D4 {
          max-width: 58.1rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.6666666667;
          color: #000000;
          font-family: Red Hat Display, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .image-1-wL2 {
        background-size: 213.675% 100%;
        background-position: -17.8542rem 0.6377rem;
        background-image: url('REPLACE_IMAGE:85a7066c9058249fd9e537ec4f68e9b712a0e9b2');
        border-radius: 19.8rem;
        flex-shrink: 0;
        width: 46.8rem;
        height: 50rem;
        position: relative;
      }
    }
  }
  .start-now-9wt {
    border-radius: 1rem;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.1rem 26.273rem 3.1rem 26.4rem;
    width: 100%;
    height: 19.4rem;
    border: solid 0.1rem #f6f7f2;
    background-color: #f6f7f2;

    .divelementor-element-4ox {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .divelementor-element-1DQ {
        margin-bottom: 2.4rem;
        width: 100%;
        height: 7.3rem;
        position: relative;
        flex-shrink: 0;

        .heading-5-lavenir-de-lapprovisionnement-en--jv6 {
          align-items: center;
          font-size: 2.8rem;
          line-height: 1.3000000545;
          font-family: Encode Sans, 'Source Sans Pro';
          justify-content: center;
          letter-spacing: 0.02rem;
          color: #222222;
          width: 91.2rem;
          height: 7.3rem;
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          font-weight: 600;

          .heading-5-lavenir-de-lapprovisionnement-en--jv6-sub-0 {
          }
          .heading-5-lavenir-de-lapprovisionnement-en--jv6-sub-1 {
            line-height: 1.3000000545;
            letter-spacing: 0.02rem;
            color: #f7c019;
            font-family: Encode Sans, 'Source Sans Pro';
            font-size: 2.8rem;
            font-weight: 600;
          }
          .heading-5-lavenir-de-lapprovisionnement-en--jv6-sub-2 {
          }
          .heading-5-lavenir-de-lapprovisionnement-en--jv6-sub-3 {
            font-family: Encode Sans, 'Source Sans Pro';
            font-size: 2.8rem;
            font-weight: 600;
            line-height: 1.3000000545;
            letter-spacing: 0.02rem;
            color: #f7c019;
          }
          .heading-5-lavenir-de-lapprovisionnement-en--jv6-sub-4 {
          }
        }
        .heading-5--E1c {
          position: absolute;
          left: 90.5267rem;
          top: 1.9rem;
          justify-content: center;
          letter-spacing: 0.02rem;
          height: 3.7rem;
          font-weight: 600;
          display: flex;
          align-items: center;
          line-height: 1.3000000545;
          white-space: nowrap;
          width: 0.8rem;
          font-size: 2.8rem;
          color: #222222;
          font-family: Encode Sans, 'Source Sans Pro';
        }
      }
      .button-hvn {
        width: calc(100% - 67.1327rem);
        display: flex;
        background-color: #f7c019;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.5rem 2.964rem 1.5rem 2.988rem;
        align-items: center;
        border-radius: 0.2rem;
        margin: 0rem 33.633rem 0rem 33.5rem;
        cursor: pointer;

        .rejoignez-la-rvolution-CsY {
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1;
          letter-spacing: 0.02rem;
          color: #fefefe;
          margin-right: 1.0425rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .symbol-7zW {
          font-size: 1.5rem;
          letter-spacing: 0.02rem;
          font-family: Font Awesome 5 Free, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 900;
          line-height: 1;
          color: #fefefe;
          white-space: nowrap;
        }
      }
    }
  }
  .auto-group-myfp-X2e {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12.4rem 14.199rem 10.789rem 15.8rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .group-4-e7G {
      align-items: flex-end;
      border-radius: 6.6rem;
      flex-shrink: 0;
      margin: 0rem 6.101rem 9.6rem 4.7rem;
      width: calc(100% - 10.801rem);
      display: flex;

      .auto-group-dfca-mSn {
        margin-right: 4.8rem;
        width: 45.6rem;
        height: 32rem;
        position: relative;
        flex-shrink: 0;

        .group-f-Jhc {
          width: 45.6rem;
          height: 23.1rem;
          position: absolute;
          left: 0;
          top: 0;

          .qui-sommes-nous--FMx {
            letter-spacing: -0.036rem;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 4.5rem;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.5;
          }
          .bconnect-est-soutenu-par-enctus-facult-des-sciences-de-tunis-luniversit-de-tunis-el-manar-nous-sommes-une-quipe-de-40-membres-ddis-concrtiser-des-projets-dentrepreneuriat-social-de-lide-la-ralit-1P4 {
            font-family: Montserrat, 'Source Sans Pro';
            max-width: 45.6rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.6666666667;
            letter-spacing: -0.027rem;
            color: rgba(0, 0, 0, 0.8000000119);
          }
        }
        .fst-grey-1-1-bMG {
          position: absolute;
          left: 30.1rem;
          top: 20.3rem;
          object-fit: cover;
          vertical-align: top;
          width: 15.2rem;
          height: 11.7rem;
        }
      }
      .img-20240215-wa0017-1-WDL {
        flex-shrink: 0;
        width: 52.8rem;
        height: 35.1rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 6.6rem;
      }
    }
    .join-us-pjp {
      padding-top: 0.95rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;

      .pourquoi-rejoindre-bconnect-NmL {
        justify-content: center;
        font-size: 3.4rem;
        font-family: Inter, 'Source Sans Pro';
        margin: 0rem 2.401rem 7.15rem 0rem;
        display: flex;
        align-items: baseline;
        font-weight: 600;
        line-height: 1.1000000449;
        letter-spacing: 0.02rem;
        color: #222222;
        white-space: nowrap;
        flex-shrink: 0;

        .pourquoi-rejoindre-bconnect-NmL-sub-0 {
        }
        .pourquoi-rejoindre-bconnect-NmL-sub-1 {
          letter-spacing: 0.02rem;
          color: #f7c019;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.4rem;
          font-weight: 600;
          line-height: 1.1000000449;
        }
        .pourquoi-rejoindre-bconnect-NmL-sub-2 {
        }
      }
      .divelementor-element-1hp {
        border-radius: 1rem;
        flex-shrink: 0;
        width: 100%;
        height: 42.111rem;
        display: flex;
        column-gap: 2rem;
        align-items: center;

        .divelementor-element-jNv {
          border: solid 0.1rem #f2f7f2;
          flex-shrink: 0;
          padding: 4.647rem 1.5rem 6.014rem 1.5rem;
          height: 100%;
          overflow: hidden;
          box-shadow: 0 2.9rem 3.4rem rgba(0, 0, 0, 0.150000006);
          background-color: #fefefe;
          border-radius: 0.5rem;
          box-sizing: border-box;
          width: 36.667rem;
          position: relative;

          .divelementor-widget-container-FMG {
            vertical-align: top;
            margin-bottom: 2.813rem;
            width: 7.2rem;
            height: 7.2rem;
            object-fit: contain;
          }
          .pour-les-agriculteurs-PCa {
            color: #222222;
            display: flex;
            font-size: 2.2rem;
            line-height: 1.3000000173;
            font-family: Encode Sans, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 2.087rem 0.6rem;
            font-weight: 600;
            letter-spacing: 0.02rem;
          }
          .divelementor-element-gSa {
            margin-left: 0.6rem;
            width: 26.6rem;
            align-items: center;
            display: flex;
            flex-direction: column;

            .auto-group-gwm4-Cvi {
              width: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .symbol-j9x {
                font-size: 1.6rem;
                font-weight: 900;
                line-height: 1;
                letter-spacing: 0.02rem;
                font-family: Font Awesome 5 Free, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 1.6rem 0.096rem 0rem;
                display: flex;
                color: #f7c019;
                flex-shrink: 0;
              }
              .list-item-20-de-revenus-en-plus-E6i {
                flex-shrink: 0;
                display: flex;
                letter-spacing: 0.02rem;
                color: #5e6d55;
                font-family: Encode Sans, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.7000000477;
              }
            }
            .auto-group-vgzs-wWv {
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 0.921rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .auto-group-lqu8-gjQ {
                margin: 0rem 10.478rem 0.918rem 0rem;
                width: calc(100% - 10.478rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .symbol-RS6 {
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 900;
                  letter-spacing: 0.02rem;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0rem 1.622rem 0.1rem 0rem;
                  line-height: 1;
                  color: #f7c019;
                  font-family: Font Awesome 5 Free, 'Source Sans Pro';
                }
                .list-item-paiement-en-24-heures-YWi {
                  flex-shrink: 0;
                  display: flex;
                  letter-spacing: 0.02rem;
                  white-space: nowrap;
                  color: #5e6d55;
                  font-family: Encode Sans, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.7000000477;
                }
              }
              .auto-group-enzu-4EA {
                width: calc(100% - 9.278rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 9.278rem 0.711rem 0rem;

                .symbol-PGS {
                  margin: 0rem 1.622rem 0.1rem 0rem;
                  font-weight: 900;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  line-height: 1;
                  letter-spacing: 0.02rem;
                  color: #f7c019;
                  font-family: Font Awesome 5 Free, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .list-item-demande-constante-U2z {
                  font-weight: 400;
                  line-height: 1.7000000477;
                  color: #5e6d55;
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  letter-spacing: 0.02rem;
                  font-family: Encode Sans, 'Source Sans Pro';
                }
              }
              .auto-group-plaz-Mca {
                margin-right: 2.6rem;
                width: calc(100% - 2.6rem);
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;

                .symbol-75x {
                  font-size: 1.6rem;
                  color: #f7c019;
                  margin: 0.758rem 1.6rem 0rem 0rem;
                  display: flex;
                  letter-spacing: 0.02rem;
                  font-family: Font Awesome 5 Free, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-weight: 900;
                  line-height: 1;
                }
                .list-item-guichet-unique-de-vente-one-stop--coQ {
                  display: flex;
                  line-height: 1.7000000477;
                  letter-spacing: 0.02rem;
                  color: #5e6d55;
                  font-family: Encode Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 21.4rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                }
              }
            }
          }
        }
        .divelementor-element-382 {
          box-sizing: border-box;
          padding: 0rem 1.534rem 9.664rem 2.1rem;
          align-items: center;
          background-color: #f7c019;
          height: 100%;
          display: flex;
          border-radius: 0.5rem;
          width: 36.667rem;
          position: relative;
          border: solid 0.1rem #f2f7f2;
          flex-shrink: 0;
          overflow: hidden;
          flex-direction: column;
          box-shadow: 0 2.9rem 3.4rem rgba(0, 0, 0, 0.150000006);

          .auto-group-qyxu-ko8 {
            margin: 0rem 5.267rem 2.15rem 0rem;
            width: 27.5rem;
            height: 19.25rem;
            position: relative;
            flex-shrink: 0;

            .pour-lenvironnement-et-la-socit-UUE {
              left: 0;
              top: 13.45rem;
              display: flex;
              font-size: 2.2rem;
              line-height: 1.3000000173;
              letter-spacing: 0.02rem;
              width: 27.5rem;
              height: 5.8rem;
              position: absolute;
              font-weight: 600;
              color: #fefefe;
              font-family: Encode Sans, 'Source Sans Pro';
            }
            .preview-1-WA2 {
              width: 20.7rem;
              height: 13.3rem;
              position: absolute;
              left: 4.5rem;
              top: 0;
              border-radius: 1.2rem;
            }
            .mdi-bee-1Mg {
              position: absolute;
              left: 13.9rem;
              top: 3rem;
              overflow: hidden;
              width: 9.3rem;
              height: 9.4rem;
            }
            .vector-wWE {
              top: 4.9rem;
              object-fit: contain;
              vertical-align: top;
              width: 5.4056rem;
              height: 5.5225rem;
              position: absolute;
              left: 0.8rem;
            }
          }
          .divelementor-element-fh8 {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-crxt-pa2 {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-bottom: 0.75rem;

              .auto-group-pplj-NLe {
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 4rem 0.95rem 0rem;
                width: calc(100% - 4rem);
                display: flex;

                .symbol-WSr {
                  margin: 0rem 1.633rem 0.096rem 0rem;
                  line-height: 1;
                  color: #fefefe;
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                  letter-spacing: 0.02rem;
                  font-family: Font Awesome 5 Free, 'Source Sans Pro';
                }
                .list-item-prix-comptitifs-d1g {
                  font-size: 1.6rem;
                  font-weight: 400;
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  line-height: 1.7000000477;
                  letter-spacing: 0.02rem;
                  color: #fefefe;
                  font-family: Encode Sans, 'Source Sans Pro';
                }
              }
              .auto-group-axhq-uUz {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 8.2rem;
                width: calc(100% - 8.2rem);

                .symbol-2Ji {
                  font-family: Font Awesome 5 Free, 'Source Sans Pro';
                  white-space: nowrap;
                  margin: 0rem 1.633rem 0.158rem 0rem;
                  font-weight: 400;
                  line-height: 1;
                  color: #fefefe;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  letter-spacing: 0.02rem;
                }
                .list-item-qualit-premium-wAn {
                  font-weight: 400;
                  line-height: 1.7000000477;
                  letter-spacing: 0.02rem;
                  color: #fefefe;
                  white-space: nowrap;
                  display: flex;
                  font-family: Encode Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                  font-size: 1.6rem;
                }
              }
            }
            .auto-group-bgaj-eaz {
              flex-shrink: 0;
              width: 100%;
              display: flex;
              align-items: flex-start;

              .symbol-D8J {
                font-family: Font Awesome 5 Free, 'Source Sans Pro';
                flex-shrink: 0;
                display: flex;
                font-weight: 400;
                letter-spacing: 0.02rem;
                color: #fefefe;
                margin: 0.689rem 1.633rem 0rem 0rem;
                font-size: 1.6rem;
                line-height: 1;
                white-space: nowrap;
              }
              .list-item-qualit-premium-X8z {
                max-width: 30.4rem;
                font-size: 1.6rem;
                font-weight: 400;
                color: #fefefe;
                flex-shrink: 0;
                display: flex;
                line-height: 1.7000000477;
                letter-spacing: 0.02rem;
                font-family: Encode Sans, 'Source Sans Pro';
              }
            }
          }
        }
        .divelementor-element-m3L {
          box-sizing: border-box;
          border: solid 0.1rem #f2f7f2;
          box-shadow: 0 2.9rem 3.4rem rgba(0, 0, 0, 0.150000006);
          background-color: #fefefe;
          border-radius: 0.5rem;
          flex-shrink: 0;
          padding: 4.272rem 3.501rem 8.514rem 2.1rem;
          width: 36.667rem;
          height: 100%;
          overflow: hidden;
          position: relative;

          .mdi-beekeeper-gAJ {
            vertical-align: top;
            margin: 0rem 0rem 4.138rem 1.216rem;
            width: 5rem;
            height: 6.25rem;
            object-fit: contain;
          }
          .pour-les-apiculteurs-MXL {
            white-space: nowrap;
            letter-spacing: 0.02rem;
            color: #222222;
            font-family: Encode Sans, 'Source Sans Pro';
            margin-bottom: 2.089rem;
            display: flex;
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 1.3000000173;
          }
          .divelementor-element-4Ar {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .auto-group-nkc6-QVc {
              box-sizing: border-box;
              padding-bottom: 0.911rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .auto-group-smzx-M9x {
                margin: 0rem 6.444rem 0.948rem 0rem;
                width: calc(100% - 6.444rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .symbol-gi2 {
                  margin: 0rem 1.622rem 0.1rem 0rem;
                  display: flex;
                  line-height: 1;
                  letter-spacing: 0.02rem;
                  color: #f7c019;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 900;
                  font-family: Font Awesome 5 Free, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .list-item-normes-dhygine-les-plus-leves-CgN {
                  display: flex;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.7000000477;
                  letter-spacing: 0.02rem;
                  color: #5e6d55;
                  font-family: Encode Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .auto-group-pjvc-WSA {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 4.2rem 0.889rem 0rem;
                width: calc(100% - 4.2rem);

                .symbol-eYN {
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  letter-spacing: 0.02rem;
                  color: #f7c019;
                  font-family: Font Awesome 5 Free, 'Source Sans Pro';
                  white-space: nowrap;
                  margin: 0rem 1.666rem 0.158rem 0rem;
                  font-weight: 900;
                  line-height: 1;
                }
                .list-item-qualit-premium-Z9Y {
                  display: flex;
                  font-size: 1.6rem;
                  line-height: 1.7000000477;
                  color: #5e6d55;
                  font-family: Encode Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-weight: 400;
                  letter-spacing: 0.02rem;
                }
              }
              .auto-group-ztn6-qMx {
                margin-right: 7.744rem;
                width: calc(100% - 7.744rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .symbol-yyx {
                  line-height: 1;
                  letter-spacing: 0.02rem;
                  font-family: Font Awesome 5 Free, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0rem 1.622rem 0.1rem 0rem;
                  font-size: 1.6rem;
                  font-weight: 900;
                  color: #f7c019;
                  display: flex;
                }
                .list-item-produits-100-traables-la-ferme-iAr {
                  font-size: 1.6rem;
                  font-weight: 400;
                  color: #5e6d55;
                  white-space: nowrap;
                  display: flex;
                  letter-spacing: 0.02rem;
                  font-family: Encode Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                  line-height: 1.7000000477;
                }
              }
            }
            .auto-group-uowk-cGE {
              width: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .symbol-aD4 {
                display: flex;
                line-height: 1;
                letter-spacing: 0.02rem;
                white-space: nowrap;
                margin: 0rem 1.666rem 0.084rem 0rem;
                font-size: 1.6rem;
                font-weight: 900;
                color: #f7c019;
                font-family: Font Awesome 5 Free, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .list-item-impact-social-VL2 {
                color: #5e6d55;
                font-family: Encode Sans, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                font-weight: 400;
                letter-spacing: 0.02rem;
                flex-shrink: 0;
                font-size: 1.6rem;
                line-height: 1.7000000477;
              }
            }
          }
        }
      }
    }
  }
  .coming-soon-LLe {
    border: solid 0.1rem #f6f7f2;
    background-color: #f6f7f2;
    border-radius: 1rem;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.05rem 39.5rem;
    width: 100%;
    height: 19.4rem;

    .bientt-disponible-une-innovation-qui-rvolutionnera-votre-demain-TgA {
      font-weight: 600;
      color: #222222;
      font-family: Inter, 'Source Sans Pro';
      max-width: 65rem;
      align-items: center;
      justify-content: center;
      font-size: 3.4rem;
      display: flex;
      line-height: 1.1000000449;
      letter-spacing: 0.02rem;

      .bientt-disponible-une-innovation-qui-rvolutionnera-votre-demain-TgA-sub-0 {
        color: #f7c019;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.4rem;
        font-weight: 600;
        line-height: 1.1000000449;
        letter-spacing: 0.02rem;
      }
      .bientt-disponible-une-innovation-qui-rvolutionnera-votre-demain-TgA-sub-1 {
      }
    }
  }
  .auto-group-an1c-gSS {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8.45rem 9.5rem 15.233rem 8.7rem;
    width: 100%;
    align-items: center;

    .future-functionality-Q7Y {
      display: flex;
      flex-direction: column;
      border-radius: 100rem;
      flex-shrink: 0;
      margin: 0rem 10.7rem 14.508rem 9.5rem;
      width: calc(100% - 20.2rem);
      align-items: center;

      .optimisez-votre-exprience-apicole-avec-le-systme-de-filtres-intuitif-de-bconnect-lavenir-itv {
        font-family: Montserrat, 'Source Sans Pro';
        max-width: 97.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.7222222222;
        margin: 0rem 0rem 6.55rem 3.2rem;
        color: #141719;
        flex-shrink: 0;
      }
      .body-Z8r {
        font-size: 2.4rem;
        flex-shrink: 0;
        color: #393e41;
        font-family: Inter, 'Source Sans Pro';
        margin: 0rem 0rem 10.092rem 3.1rem;
        max-width: 86rem;
        text-align: center;
        font-weight: 400;
        line-height: 0.9166666667;
      }
      .airbnb-search-EEz {
        height: 4.8rem;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        border-radius: 100rem;
        flex-shrink: 0;
        margin-right: 0.9rem;
        box-sizing: border-box;
        padding: 0rem 0.8rem 0rem 3.2rem;

        .attribute-K1Y {
          margin: 0.6rem 1.9rem 0.6rem 0rem;
          height: calc(100% - 1.2rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .attribute-2wY {
            flex-shrink: 0;
            display: flex;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.3333333333;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .value-NEi {
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4285714286;
            color: #6b7280;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .divider-i3g {
          width: 0rem;
          height: 0.1rem;
          background-color: #e5e7eb;
          flex-shrink: 0;
          margin: 0rem 3.2rem 3.1rem 0rem;
        }
        .attribute-dAe {
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.6rem 8.567rem 0.6rem 0rem;
          height: calc(100% - 1.2rem);
          display: flex;

          .attribute-wx2 {
            line-height: 1.3333333333;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.2rem;
            font-weight: 600;
          }
          .value-GjQ {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4285714286;
            color: #6b7280;
          }
        }
        .divider-yNv {
          margin: 0rem 3.2rem 3.1rem 0rem;
          width: 0rem;
          height: 0.1rem;
          background-color: #e5e7eb;
          flex-shrink: 0;
        }
        .attribute-Jg6 {
          margin: 0.6rem 13.967rem 0.6rem 0rem;
          height: calc(100% - 1.2rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .attribute-3Nn {
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.3333333333;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .value-nbG {
            color: #6b7280;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4285714286;
          }
        }
        .divider-Xok {
          margin: 0rem 3.2rem 3.1rem 0rem;
          width: 0rem;
          height: 0.1rem;
          background-color: #e5e7eb;
          flex-shrink: 0;
        }
        .attribute-4Ht {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.6rem 13.367rem 0.6rem 0rem;
          height: calc(100% - 1.2rem);

          .attribute-Q6r {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.3333333333;
          }
          .value-wsU {
            color: #6b7280;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4285714286;
          }
        }
        .icon-button-UMc {
          vertical-align: top;
          flex-shrink: 0;
          width: 4.8rem;
          height: 4.8rem;
          object-fit: contain;
        }
      }
    }
    .newsletter-vUW {
      border-radius: 1rem;
      box-sizing: border-box;
      padding: 2.95rem 8.95rem 5rem 8.95rem;
      flex-direction: column;
      display: flex;
      border: solid 0.1rem #f6f7f2;
      background-color: #f7c019;
      flex-shrink: 0;
      margin: 0rem 5.9rem 10.2rem 5.9rem;
      width: calc(100% - 11.8rem);
      align-items: center;

      .cette-fonctionnalit-est-en-phase-de-perfectionnement-inscrivez-vous-pour-tre-notifi-cML {
        justify-content: center;
        font-weight: 700;
        line-height: 1.7222222222;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        margin-bottom: 2.15rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        max-width: 96.1rem;
        font-size: 3.6rem;
      }
      .group-7-Gwg {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 7.439rem 0rem 7.45rem;
        width: calc(100% - 14.8891rem);
        height: 4.5rem;
        display: flex;

        .auto-group-2jug-zMt {
          margin-right: 0.0116rem;
          line-height: 1.2175;
          color: black;
          background-color: #ffffff;
          display: flex;
          font-size: 1.5rem;
          font-weight: 400;
          box-sizing: border-box;
          padding: 1.363rem 1.3rem 1.238rem 1.3rem;
          width: 62.1rem;
          white-space: nowrap;
          flex-shrink: 0;
          height: 100%;
          letter-spacing: 0.045rem;
          font-family: Montserrat, 'Source Sans Pro';
          border: solid 0.05rem #b6b6b6;
          border-radius: 0.4rem;

          &::placeholder {
            line-height: 1.2175;
            letter-spacing: 0.045rem;
            color: #b6b6b6;
            font-family: Montserrat, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 400;

          }
        }
        .auto-group-w6zi-ZJW {
          box-shadow: 0 0.1rem 1.2rem rgba(253, 96, 8, 0);
          font-size: 1.5rem;
          font-family: Montserrat, 'Source Sans Pro';
          line-height: 1.2175;
          text-transform: uppercase;
          white-space: nowrap;
          background: linear-gradient(94.05deg, #141719 44.48%, #000000 318.78%);
          width: 19.0992rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          border-radius: 0 0.4rem 0.4rem 0;
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;
          letter-spacing: 0.15rem;
          color: #ffffff;
        }
      }
    }
    .start-the-experience-4ea {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .prt-vous-lancer-dans-laventure-avec-nous--1Zp {
        margin: 0rem 0.1rem 7.067rem 0rem;
        max-width: 75.6rem;
        text-align: center;
        font-size: 4.8rem;
        font-weight: 600;
        color: #000000;
        line-height: 1.5;
        letter-spacing: -0.072rem;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .row-HnE {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 62.8rem;

        .unsplash-qvo4yjzo-mc-3Fc {
          box-sizing: border-box;
          padding: 7.733rem 8.6rem 10.267rem 8rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:4fffb9bf83bb06549c92a19b3a5538b4e991ca33');
          margin-right: 2.4rem;
          flex-direction: column;
          border-radius: 0.8rem;
          flex-shrink: 0;
          width: 61.7rem;
          background-position: center;
          height: 100%;
          overflow: hidden;
          align-items: center;
          display: flex;
          background: linear-gradient(180deg, rgba(3, 19, 1, 0.7699999809) 34.1%, rgba(9, 74, 0, 0.7699999809) 66.1%);
          background-size: 100% 100%;
          background-repeat: no-repeat;

          .je-suis-un-agriculteur-et-je-souhaite-devenir-un-partenaire-tout-en-amliorant-ma-production-M1Q {
            font-weight: 500;
            line-height: 1.1666666667;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 5.6rem;
            display: flex;
            font-size: 4.8rem;
            max-width: 45.1rem;
            flex-shrink: 0;
          }
          .button-PCz {
            margin: 0rem 10.5rem 0rem 11.1rem;
            width: calc(100% - 21.6rem);
            height: 5.6rem;
            cursor: pointer;
            flex-shrink: 0;

            .button-base-VG2 {
              cursor: pointer;
              border: solid 0 #e5e7eb;
              background-color: #fbfbfd;
              border-radius: 0.8rem;
              box-sizing: border-box;
              width: 100%;
              height: 100%;
              padding: 1.6rem 2.4rem;
              box-shadow: 0 0.1rem 0.2rem rgba(31, 41, 55, 0.0799999982);

              .auto-group-gasr-dd8 {
                line-height: 1.5;
                color: #374151;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                align-items: center;
                width: 100%;
                height: 100%;
                display: flex;
                font-size: 1.6rem;
                font-weight: 500;
                justify-content: center;
              }
            }
          }
        }
        .unsplash-jytwspsidcy-Bo4 {
          flex-direction: column;
          background: linear-gradient(180deg, rgba(19, 17, 1, 0.7699999809) 31%, rgba(74, 60, 0, 0.7699999809) 63%);
          background-position: center;
          width: 61.7rem;
          border-radius: 0.8rem;
          background-image: url('REPLACE_IMAGE:b64c780a6cb6c698c8d757845cfb259d3f3e7782');
          align-items: center;
          display: flex;
          background-size: 100% 100%;
          box-sizing: border-box;
          padding: 7.333rem 9rem 10.467rem 7.2rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          background-repeat: no-repeat;
          flex-shrink: 0;

          .je-suis-agriculteur-et-je-souhaite-amliorer-ma-production-tout-en-rduisant-mes-cots-5tS {
            max-width: 45.5rem;
            display: flex;
            font-size: 4.8rem;
            font-weight: 500;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 5.8rem;
            line-height: 1.1666666667;
          }
          .button-A9C {
            flex-shrink: 0;
            margin: 0rem 10.1rem 0rem 11.9rem;
            width: calc(100% - 22rem);
            height: 5.6rem;
            cursor: pointer;

            .button-base-eaA {
              padding: 1.6rem 2.4rem;
              height: 100%;
              border: solid 0 #e5e7eb;
              background-color: #ffd166;
              border-radius: 0.8rem;
              box-sizing: border-box;
              width: 100%;
              cursor: pointer;
              box-shadow: 0 0.1rem 0.2rem rgba(31, 41, 55, 0.0799999982);

              .auto-group-kecv-C5t {
                font-weight: 500;
                color: #374151;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                align-items: center;
                height: 100%;
                display: flex;
                line-height: 1.5;
                justify-content: center;
                width: 100%;
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }
  }
  .footer-Agv {
    width: 100%;
    height: 8.6rem;
    position: relative;
    overflow: hidden;
    background-color: #222222;
    flex-shrink: 0;

    .divelementor-widget-container-uuQ {
      height: 2.8rem;
      position: absolute;
      left: 50.503rem;
      display: flex;
      box-sizing: border-box;
      padding-left: 21.128rem;
      width: 45.9309rem;
      top: 2.905rem;
      align-items: center;

      .list-item-Cdc {
        border: solid 0.1rem #515151;
        box-sizing: border-box;
        flex-shrink: 0;
        margin: 0rem 17.653rem 0.1rem 0rem;
        width: 0.1rem;
        height: 1.7rem;
      }
      .list-item-iM4 {
        height: 1.7rem;
        border: solid 0.1rem #515151;
        box-sizing: border-box;
        flex-shrink: 0;
        margin: 0rem 2.05rem 0.1rem 0rem;
        width: 0.1rem;
      }
      .list-item-link-contact-odQ {
        justify-content: center;
        font-size: 1.4rem;
        font-weight: 400;
        color: #fefefe;
        white-space: nowrap;
        align-items: center;
        line-height: 1.9428571974;
        letter-spacing: 0.02rem;
        font-family: Encode Sans, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
      }
    }
    .group-6-5qp {
      top: 2.905rem;
      display: flex;
      align-items: center;
      width: 135.438rem;
      height: 2.8rem;
      position: absolute;
      left: 3.9rem;

      .bconnect-inc-omp {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4285714286;
        color: #fbfbfd;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.19rem 20.609rem 0rem 0rem;
      }
      .list-item-link-mentions-lgales-KkA {
        margin-right: 2.2262rem;
        justify-content: center;
        letter-spacing: 0.02rem;
        color: #fefefe;
        font-family: Encode Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.9428571974;
      }
      .list-item-link-politique-de-confidentialit-E6S {
        color: #fefefe;
        white-space: nowrap;
        margin-right: 4.3392rem;
        font-size: 1.4rem;
        line-height: 1.9428571974;
        letter-spacing: 0.02rem;
        font-family: Encode Sans, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
      }
      .list-item-link-conditions-gnrales-V2N {
        margin-right: 46.0561rem;
        justify-content: center;
        font-size: 1.4rem;
        white-space: nowrap;
        font-family: Encode Sans, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        align-items: center;
        font-weight: 400;
        line-height: 1.9428571974;
        letter-spacing: 0.02rem;
        color: #fefefe;
      }
      .sub-footer-aZc {
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.2185rem;
        width: 6.1076rem;
        height: 2.4087rem;
        object-fit: contain;
      }
    }
  }
}
